<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garbage Goober | One man's trash is another man's come up</title>

    <link rel="stylesheet" th:href="@{/css/application.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="banner">

        <div class="navbar">
            <img src="/images/mainLogo.png" class="logo">
            <a href="https://github.com/Alejandro-houlu/GarbageGoober" target="blank"><i class="fa fa-github git mr-2" style="font-size: 70px;"></i></a>
        </div>

    

        <div class="content">
            <img src="/images/backgroundLogo.png">
            <p>An ecosystem for recycling agents and collectors.</p>
            <p>We know you don't really care about saving the environment <br> Neither do we <br>We do it for the moral highground.</p>
            <div>
                <button type="button"><span></span>Log in</button>
                <button type="button"><span></span>How it works</button>
            </div>
        </div>
    </div>

    <div th:replace="Fragments/footer.html"></div>

</body>
</html>


        <!-- <a href="https://github.com/Alejandro-houlu/GarbageGoober" target="blank"><i class="fa fa-github git mr-2" style="font-size: 24px;"></i></a> -->