<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="container">
       <div th:replace="Fragments/layout.html :: navMenu"></div> 

        <!-- main -->
        <div class="main">
            <div th:replace="Fragments/layout.html :: navTopBar"></div>
            
            <a th:href="@{/recycle/createList}" style="text-decoration: none ;">
                <div class="cardBox2">
                    <div class="card">
                        <div>
                            <div class="content">Create List</div>
                            <div class="cardName">Recycled Items</div>
                        </div>
                        <div class="iconBx">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </a>
        
        <div th:if="${lists == null}">
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>My lists</h2>
                        <!-- <a href="#" class="btn">View All</a> -->
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Time created</td>
                                <td>Pick up Date</td>
                                <td>Collection Time</td>
                                <td>No of items</td>
                                <td>Status</td>
                                <td>Collector</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Create</td>
                                <td>Your</td>
                                <td>First</td>
                                <td>Recycling List</td>
                                <td>Now!</td>
                                <td><span class="status delivered">Save the enviroment</span></td>
                                <td> :) </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:unless="${lists == null}">

            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>My lists</h2>
                        <!-- <a href="#" class="btn">View All</a> -->
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Time created</td>
                                <td>Pick up Date</td>
                                <td>Collection Time</td>
                                <td>No of items</td>
                                <td>Total weight</td>
                                <td>Status</td>
                                <td>Collector</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="list : ${lists}">
                                <td th:text="${list.listId}"/>
                                <td th:text="${#strings.substring(list.created,0,16)}"/>
                                <td th:text="${list.pickUpDate}"/>
                                <td th:text="${#strings.substring(list.collectionTime,0,5)}"/>
                                <td th:text="${#aggregates.sum(list.items.![#lists.size(itemId)])}"/>
                                <td th:text= "${#numbers.formatDecimal(#aggregates.sum(list.items.![weight]),1,1)} + KG"/>
                                <td th:if="${list.status.toString() == 'AVAILABLE'}"><span class="status available" th:text="${list.status}"></span></td>
                                <td th:if="${list.status.toString() == 'IN_PROGRESS'}"><span class="status inprogress" th:text="${list.status}"></span></td>
                                <td th:if="${list.status.toString() == 'TAKEN'}"><span class="status taken" th:text="${list.status}"></span></td>
                                <td> :) </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        </div>
    </div>
<script>

    //Menu Toggle
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');

    toggle.onclick = function(){
        navigation.classList.toggle('active')
        main.classList.toggle('active')
    }

    //add hovered class in selected list item
    let list =document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item) =>
        item.classList.remove('hovered'));
        this.classList.add('hovered');
    }
    list.forEach((item)=>
    item.addEventListener('mouseover',activeLink));

</script>
    
</body>