<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="container">
       <div th:replace="Fragments/layout.html :: navMenu"></div> 

        <!-- main -->
        <div class="main">
            <div th:replace="Fragments/layout.html :: navTopBar"></div>
            
            <a th:href="@{/recycle/createList}" style="text-decoration: none ;">
                <div class="cardBox2">
                    <div class="card">
                        <div>
                            <div class="content">Create List</div>
                            <div class="cardName">Recycled Items</div>
                        </div>
                        <div class="iconBx">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </a>

            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>My lists</h2>
                        <!-- <a href="#" class="btn">View All</a> -->
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Time created</td>
                                <td>Pick up Date</td>
                                <td>Collection Time</td>
                                <td>Total weight</td>
                                <td>Status</td>
                                <td>Collector</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>dateTime</td>
                                <td>02/05/2022</td>
                                <td>1300</td>
                                <td>10KG</td>
                                <td><span class="status delivered">Taken</span></td>
                                <td>Collector name</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
<script>

    //Menu Toggle
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');

    toggle.onclick = function(){
        navigation.classList.toggle('active')
        main.classList.toggle('active')
    }

    //add hovered class in selected list item
    let list =document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item) =>
        item.classList.remove('hovered'));
        this.classList.add('hovered');
    }
    list.forEach((item)=>
    item.addEventListener('mouseover',activeLink));
</script>
    
</body>