<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="container1">
       <div th:replace="Fragments/layout.html :: navMenu"></div> 

        <!-- main -->
        <div class="main">
            <div th:replace="Fragments/layout.html :: navTopBar"></div> 


            <!-- Start here -->

            <!-- if statement here -->
    <div th:if="${incomingReqList.empty}">
        <div class="details1">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>My incoming requests</h2>
                    <!-- <a href="#" class="btn">View All</a> -->
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Time created</td>
                            <td>Pick up Date</td>
                            <td>Collection Time</td>
                            <td>No of items</td>
                            <td>Status</td>
                            <td>Collector</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>You</td>
                            <td>have</td>
                            <td>no</td>
                            <td>incoming requests...</td>
                            <td>for now!</td>
                            <td><span class="status delivered">Create more lists!</span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:unless="${incomingReqList.empty}">
        <div class="details1">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>My incoming requests</h2>
                    <!-- <a href="#" class="btn">View All</a> -->
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Time created</td>
                            <td>Pick up Date</td>
                            <td>Collection Time</td>
                            <td>No of items</td>
                            <td>Total Weight</td>
                            <td>Status</td>
                            <td>Requester</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="list : ${incomingReqList}" th:onClick="'javascript:openRequestListModal(\''+${list.listId} + '\');'">
                            <td th:text="${list.listId}"/>
                            <td th:text="${#strings.substring(list.created,0,16)}"/>
                            <td th:text="${list.pickUpDate}"/>
                            <td th:text="${#strings.substring(list.collectionTime,0,5)}"/>
                            <td th:text="${#aggregates.sum(list.items.![#lists.size(itemId)])}"/>
                            <td th:text= "${#numbers.formatDecimal(#aggregates.sum(list.items.![weight]),1,1)} + KG"/>
                            <td th:if="${list.status.toString() == 'AVAILABLE'}"><span class="status available" th:text="${list.status}"></span></td>
                            <td th:if="${list.status.toString() == 'IN_PROGRESS'}"><span class="status inprogress" th:text="${list.status}"></span></td>
                            <td th:if="${list.status.toString() == 'TAKEN'}"><span class="status taken" th:text="${list.status}"></span></td>
                            <td th:if="${list.status.toString() == 'REQUESTED'}"><span class="status requested" th:text="${list.status}"></span></td>
                            <td><span class="status available"  th:text="${list.collector.username}"></span></td>
                            <!-- <td><a th:href="@{/recycle/findListById/(id=${list.listId})}" class="btn viewBtn">View</a></td> -->
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div th:if="${outgoingReqList.empty}">
        <div class="details1">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>My outgoing requests</h2>
                    <!-- <a href="#" class="btn">View All</a> -->
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Time created</td>
                            <td>Pick up Date</td>
                            <td>Collection Time</td>
                            <td>No of items</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>You</td>
                            <td>have</td>
                            <td>no</td>
                            <td>outgoing requests...</td>
                            <td>for now!</td>
                            <td><span class="status delivered">Browse for recycling lists!</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:unless="${outgoingReqList.empty}">
        <div class="details1">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>My outgoing requests</h2>
                    <!-- <a href="#" class="btn">View All</a> -->
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Time created</td>
                            <td>Pick up Date</td>
                            <td>Collection Time</td>
                            <td>Total Weight</td>
                            <td>No of items</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                            <tr th:each="list : ${outgoingReqList}" th:onClick="'javascript:openListModal(\''+${list.listId} + '\');'">
                                <td th:text="${list.listId}"/>
                                <td th:text="${#strings.substring(list.created,0,16)}"/>
                                <td th:text="${list.pickUpDate}"/>
                                <td th:text="${#strings.substring(list.collectionTime,0,5)}"/>
                                <td th:text="${#aggregates.sum(list.items.![#lists.size(itemId)])}"/>
                                <td th:text= "${#numbers.formatDecimal(#aggregates.sum(list.items.![weight]),1,1)} + KG"/>
                                <td th:if="${list.status.toString() == 'AVAILABLE'}"><span class="status available" th:text="${list.status}"></span></td>
                                <td th:if="${list.status.toString() == 'IN_PROGRESS'}"><span class="status inprogress" th:text="${list.status}"></span></td>
                                <td th:if="${list.status.toString() == 'TAKEN'}"><span class="status taken" th:text="${list.status}"></span></td>
                                <td th:if="${list.status.toString() == 'REQUESTED'}"><span class="status requested" th:text="${list.status}"></span></td>
                                <!-- <td><a th:href="@{/recycle/findListById/(id=${list.listId})}" class="btn viewBtn">View</a></td> -->
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>

    <div id="listViewRequestSection"></div>
<script>

    //Menu Toggle
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');

    toggle.onclick = function(){
        navigation.classList.toggle('active')
        main.classList.toggle('active')
    }

    //add hovered class in selected list item
    let list =document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item) =>
        item.classList.remove('hovered'));
        this.classList.add('hovered');
    }
    list.forEach((item)=>
    item.addEventListener('mouseover',activeLink));
</script>

	<script>
	function openRequestListModal(id) {
		
		$.ajax({
            type: "GET",
			url: "/request/findListById/"+id,
			success: function(response){

                $('#listViewRequestSection').html(response);
                $('#myRequestModal').modal("show");
				
			}
			
		});
	}
	</script>

	<script>
	function openListModal(id) {
		
		$.ajax({
            type: "GET",
			url: "/recycle/findByListId/"+id,
			success: function(response){

                $('#listViewRequestSection').html(response);
                $('#myContactModal').modal("show");
				
			}
			
		});
	}
	</script>
    
</body>